@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

:root {
    --bg: #fff;
    --bg2: #da0036;
    ;
    --primary: #695aa6;
    --secondary: #695aa6;
    --blue: #1e549f;
    --purple: #6f42c1;
    --dark: #212529;
    --gray: #6c757d;
    --gray-dark: #393e46;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', 'Ubuntu';
}

::-moz-selection {
    color: #fff;
    background: var(--purple);
}

::selection {
    color: #fff;
    background: var(--purple);
}

.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
}

/* navbar*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    transition: all 0.3s ease;
    z-index: 9999;
}

.navbar.sticky {
    padding: 5px 0;
    background-color: #ffffff;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    z-index: 1;
    font-family: 'Baloo Paaji', cursive;
    letter-spacing: 3px;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: .3s ease-in-out;
}


.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li:hover {
    text-decoration: underline;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
    font-weight: 600;
}


.navbar.sticky .logo a {
    color: var(--primary);
}

.navbar.sticky .menu li a {
    color: var(--gray);
}

/* menu btn */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

/* menu btn */
.menu-btn span {
    display: block;
    width: 28px;
    height: 3px;
    margin: 6px 0;
    border-radius: 30px;
    background-color: white;
    transition: .3s;
}

.navbar.sticky .menu-btn span {
    background-color: var(--gray);
}

.navbar.sticky .menu-btn {
    color: var(--gray);
}

@media screen and (max-width: 950px) {
    .navbar .menu {
        z-index: 0;
        position: fixed;
        top: -900px;
        left: 0;
        background-color: var(--dark);
        height: max-content;
        width: 100%;
        padding-top: 50px;
        transition: .5s;
    }

    .navbar.active .menu {
        top: 0px;
    }

    .navbar .menu li {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .navbar.active .menu li a,
    .navbar.active .logo a {
        color: #fff;
    }

    .navbar .menu li a {
        margin: 0;
    }

    .menu-btn {
        display: block;
    }

    .navbar.active .menu-btn span {
        background-color: #fff;
    }

    .navbar.active .menu-btn span:nth-child(1) {
        -webkit-transform: translate3d(0, 9px, 0) rotate(135deg);
        transform: translate3d(0, 9px, 0) rotate(135deg);
        -webkit-transition-delay: 0.075s;
        transition-delay: 0.075s;
    }

    .navbar.active .menu-btn span:nth-child(2) {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        opacity: 0;
    }

    .navbar.active .menu-btn span:nth-child(3) {
        -webkit-transform: translate3d(0, -9px, 0) rotate(-135deg);
        transform: translate3d(0, -9px, 0) rotate(-135deg);
        -webkit-transition-delay: 0.075s;
        transition-delay: 0.075s;

    }
}







.home {
    color: #fff;
    background-color: var(--bg2);
    background-image: linear-gradient(to right bottom, #695aa6, #695aa6);
}




.home .content {
    height: max-content;
    min-height: 100vh
}

.home .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .left {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.home .left .text1 {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Baloo Paaji', cursive;
}

.home .left .text2 {
    margin-top: 3px;
    font-size: 18px;
    text-align: left;
    font-weight: 300;
}

@media screen and (max-width: 930px) {
    .max-width {
        padding: 0 20px;
    }

    .home .content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .home .right {
        max-width: 400px;
        /* margin-top: 20px; */
        width: 100%;
    }

    .home .banner {
        height: 130vh;
    }

    .home .left {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .home .left .text2 {
        text-align: center;
    }

    .home .right img {
        width: 100%;
        height: auto;
    }

}


section .title {
    font-family: 'Baloo Paaji', cursive;
    font-weight: 500;
    display: block;
    text-align: center;
    font-size: 30px;
    color: var(--primary);
    margin: 60px 0;
}

.services_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 30px 0;
}

.services_card .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    color: var(--dark);
    box-shadow: 0 0 12px -6px black;
    cursor: pointer;
    border-radius: 10px;
    padding: 30px 10px;
    padding-bottom: 65px;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.services_card .card:hover {
    transform: translateY(-25px);
    color: var(--gray);
}

.services_card i {
    font-size: 40px;
    margin-bottom: 10px;
}

.services_card .card h2 {
    font-weight: 600;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Baloo Paaji', cursive;
}

/* .services_card .card:hover {
    background-color: var(--primary);
    color: #fff;
} */


.services_card .card .subtitle {
    position: absolute;
    bottom: -40%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    text-align: center;
    color: var(--dark);
    max-width: 300px;
    cursor: text;
}

.services_card .card .subtitle a {
    color: var(--primary);
}

.services_card .card .subtitle a:hover {
    text-decoration: underline;
}

.services_card .card:hover .subtitle {
    margin-top: 10px;
    bottom: 0px;
    opacity: 1;
    visibility: visible;
}




.projects_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    margin: 30px 0;
}

.projects_card .card {
    position: relative;
}

.projects_card .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.projects_card .card .content {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #212529e7;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    cursor: pointer;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects_card .card:hover .content {
    opacity: 1;
    transform: scale(1);
}

.projects_card .card .content_title {
    font-family: 'Baloo Paaji', cursive;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.projects_card .card .content_description {
    cursor: text;
}

.projects_card .card .content_title:hover {
    text-decoration: underline;
}


@media screen and (max-width : 550px) {

    .projects_card {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .projects_card .card .content_title {
        font-size: 23px;
    }
    
    .projects_card .card .content_description {
        cursor: text;
        font-size: 15px;
        margin: 0 10px;
    }
}